<div class="container-fluid">
    <!-- Main component for a primary marketing message or call to action -->
    <div ng-repeat="book in books" class="jumbotron">
      <div class="row">
        <h2 class="col-sm-8">{{books.length-$index | rankname}} {{book.book.name}}<span class="badge">{{book.rankVal | ranknum}}</span></h2>
        <div class="col-sm-2">
          <h5><span class="label label-success"></span></h5>
        </div>
    		<div class="pull-right col-sm-2">
    	      <h4>{{book.book.author}}</h4>
    		</div>
	   </div>
      <p ng-bind-html="book.book.descrip | unsafe"></p>
      <ul class="nav nav-pills">
	    <li role="presentation" ng-repeat="tag in book.book.tags"><label class="btn">{{tag}}</label></li>
	  </ul>
      <p>
        <a class="btn btn-lg btn-primary" href="{{book.book.targetHref}}" target="blank" role="button">去阅读</a>
      </p>
</div>
